/.bundle/
/.yardoc
/Gemfile*.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/Gemfile.local
/.rvmrc

# rspec failure tracking
.rspec_status
.ruby-gemset
.ruby-version

# Emacs
*~
# \#*\#
#.\#*
